* {
	margin: 0px;
	padding: 0px;
}
body {
	background: url(5.jpg);
} 

 .bloquer {
 	width: 100%; 
 	height: 100%; 
 	left: 0px; 
 	top: 0px; 
 	background:rgba(0,0,0,81); 
 	position: fixed;} /* Estilos del div que se tendrá la función de ocultar el contenido del sitio para dejar mostrarse a la ventana emergente */


 	.ventana_emergente {
 		position: fixed; 
 		width: 500px; 
 		height: 500px; 
 		border: solid 1px #c1cdc1; 
 		background:#fff;
 		border-radius: 20px;
 	} /* Estilo de la ventana emergente. La misma podés editarla, pero no quites el atributo position: fixed. */

 	.bloquer, .ventana_emergente 
 	{display: none;}



 	#abrir_ventana {
 		display: inline-block;
 		margin-left: 500px;
		margin-top: 500px;
		padding: 30px 100px;
		background-color: #00A5F4;
 		color: #fff;
 		text-decoration: none;
 		text-align: center;
 		font-size: 30px;
 		font-weight: bold;
		-webkit-transition: All 2s ease;
		-o-transition: All 2s ease;
		transition: All 2s ease;

}


#abrir_ventana:hover {
	background-color:#006B9F; 
	border-radius: 200px;
}






